table {
	background: #eaeaea;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 50%;

	-webkit-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
}	

.table-header {
	text-align: center;
	font-size: 1.2em;
}

td {
	text-align: center;
}
.table-name {
	padding: 5px;
	text-align: left;
}

body {
	background-color: #F1F0FF;
	color: #444;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
}


.task-head {
	color: #333;
	margin: 20px auto 50px auto;
	margin: 2px;
	display: inline;
}


.head-back {
	display: inline;
	color: #223388;
	position: absolute;
	right: 0;
	bottom: -5px;
}

.head-back a {
	display: inline;
	float: right;
	color: #223364;
}

.head-back a:hover {
	text-decoration: inherit;
	background-color: inherit;
	color: #2540a2;
}

.task-head-div {
	width: 60%;
	border-bottom: 1px #333solid;
	margin: 0 auto;
	position: relative;
}


td {
	border: 1px #cacaca solid;
	padding: 5px;
	color: #2e2e2e;
}


.task-property {
	font-weight: 800;
	color: #333;
}

.edit {
	width: 10%;
}





/* SESSIONS */



.session-header-div {
	text-align: center;
	padding: 20px;
}

.session-header {
	margin: 0 auto;
	text-align: center;
	display: inline;
	color: #000;
}

#sessions-partial {
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0a0a0+0,d6d6d6+51 */
background: #a0a0a0; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a0a0 0%, #d6d6d6 51%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a0a0a0 0%,#d6d6d6 51%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a0a0a0 0%,#d6d6d6 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */




	border-top: 1px #ccc solid;
	width: 100%;
}

.session-container {

}

.session-box {
	background:#50597b;
}


.session-splitter{
	padding: 0;
	margin: 0;
}


.session-wrap {
	padding: 15px 1%;
	margin: 0;
}

.column-wrap {
	margin: 0 4%;

}
.session-col {
	height: 275px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	background: #ececec;

	min-width: 190px;

	margin: 0 auto;

-webkit-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);
box-shadow: 4px 4px 13px 1px rgba(0,0,0,0.75);


}


.session-title {
	-webkit-border-radius: 16px 16px 0px 0px;
	-moz-border-radius: 16px 16px 0px 0px;
	border-radius: 16px 16px 0px 0px;

	background-color: #656565;
	color: #fdfdfd;

	font-size: 1.4em;
	padding: 3px;
	font-weight: 700;
	text-align: center;
	height: 15%;

}


.session-content {
	position: relative;
	width: 100%;
	height: 85%;
}

.session-text {
	font-size: 1.3em;
}


.session-date {
	position: absolute;
	top: 0;
	left: 4px;
}

.session-id {
	position: absolute;
	top: 0;
	right: 4px;
}

.circle {
	position: relative;
	margin: 0 auto;
	bottom: -12%;
	width: 80px;
	background-color: inherit;
}

.circle:before {
	content: "";
	display: block;
	padding-top: 100%;
	background-color: #313131;
	border-radius: 50%;
	border: 1px #666 solid;
	z-index: -2;
}

.circle-cover {
	position: absolute;
	bottom: 0;
	left: 0;
 	height: 25%;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}
.circle2 {
	content: "";
	position: absolute;
	bottom: 0;
	height: 400%;
	left: 0;
	right: 0;
	background-color: #777;
	border-radius: 50%;
	z-index: 1;
}


.session-duration {
	color: #fff;
	z-index: 2;
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
	height: 100%;
	font-size: 2.7em;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
}


.session-time {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 3px;
}

.session-links {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3px;
	padding-right: 6px;
}

.session-note {
	position: absolute;
	bottom: 40px;
	left: 8px;
	right: 8px;
	height: 70px;
	background-color: #dfdfdf;
	overflow: hidden;
	font-size: 1.2em;
	line-height: 16px;
	padding: 2px;
	border: 1px #afafaf solid;
	border-radius: 5px;
}

.new-session {
	min-width: 190px;
	height: 275px;
	display: none;
}

.new-session-button {
	min-width: 190px;
	height: 60px;
	border-radius: 12px;
	background-color: #fff;
	border: 1px #555 solid;
	text-align: center;
	font-size: 2em;
	color: #000;
	padding: 4px;
}

.new-session-btn {
	border: 1px black solid;
	font-weight: 900;
}

.new-content {
	padding-top: 1joipx;
	height: 242px;
}
.new-circle {
	top: 5%;
}

.new-buttons {
	width: auto;
	margin: 10px auto 0 auto;
	text-align: center;
}

.session-btn {
	margin: 5px 10px;
}


.new-note {
	top: 145px;
	height: 60px;
}

#note-text-new {
	width: 100%;
	height: 100%;
	resize: none;
}

.session-duration-new {
	font-size: 1.7em;
}

.new-links {
	position: absolute;
	bottom: 8px;
	right: 10px;
}

.new-links a {
	color: #448acc;
	font-size: 1.2em;
}

.new-buttons {
	
}

.new-save a:visited,
.new-delete a:visited {
	color: #5489dd;
}

.new-delete a:visited {
	color: #f00;
}

.button_to,
.button_to div {
	display: inline;
}
.but-wrap {
	width: 100%;
	align-text: center;
	height: 20px;
	display: inline-block;
}