
<div class="container-fixed session-container">
	<div class="row session-row">

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>


	</div><!-- Session Row 1 -->


	<div class="row session-row">

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>

		<div class="col-md-3 session-wrap">
			<div class="col-md-12 session-col">

			</div>
		</div>


	</div><!-- Session Row 2 -->
</div><!-- Session container -->